.cards {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  flex-wrap: wrap;
  list-style-type: 0;
  padding: 0;
}
