.feynman__link {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #2F80ED;
  text-decoration: none;

}
