.feynman {
  background-color: #F2F2F2;
  background-image: url(./../../images/feinman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  min-height: 890px;
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;

}
