.kaufman {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
  margin:0 auto;
  padding-top: 90px;
  padding-bottom: 90px;

}
